<style>

* {
	box-sizing: border-box;
}

<body> {
	margin: 0;
	padding: 0;
}


@media (min-width: 992px){

#p1 {
	float: right;
	height: 50px;
	border: 3px solid black;
	width: 90px;
	text-align: center;
	border-width: 3px;
	margin: -3px -3px;
	font-size: 130%;
	background-color: green;
	
}
#p2 {
	float: left;
	overflow: auto;
	clear: right;
}

#box1 {
	float: left;
	border: 3px solid black;
	width: 30%;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: gray;
}
#box2 {
	float: left;
	border: 3px solid black;
	width: 30%;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: gray;
}
#box3 {
	float: left;
	border: 3px solid black;
	width: 30%;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: gray;
}	
}

@media (min-width: 768px) and (max-width: 991px){

#p1 {
	float: right;
	height: 50px;
	border: 3px solid black;
	width: 90px;
	text-align: center;
	border-width: 3px;
	margin: -3px -3px;
	font-size: 130%;
	background-color: green;
}
#p2 {
	float: left;
	overflow: auto;
	clear: right;
}

#box1 {
	float: left;
	border: 3px solid black;
	width: 47%;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: gray;
}
#box2 {
	float: left;
	border: 3px solid black;
	width: 47%;
	padding: 0px;
	margin: 0px 10px 0px 10px;
	background-color: gray;
}
#box3 {
	float: left;
	border: 3px solid black;
	width: 96.78%;
	padding: 0px;
	margin: 10px 0px 0px 10px;
	background-color: gray;
}	
}

@media (min-width: 75px) and (max-width: 767px){

#p1 {
	float: right;
	height: 50px;
	border: 3px solid black;
	width: 90px;
	text-align: center;
	border-width: 3px;
	margin: -3px -3px;
	font-size: 130%;
	background-color: green;
	
}
#p2 {
	float: left;
	overflow: auto;
}

#box1 {
	float: left;
	border: 3px solid black;
	width: 90%;
	padding: 0;
	margin: 10px 0px 0px 0px;
	background-color: gray;
}
#box2 {
	float: left;
	border: 3px solid black;
	width: 90%;
	padding: 0;
	margin: 10px 0px 0px 0px;
	background-color: gray;
}
#box3 {
	float: left;
	border: 3px solid black;
	width: 90%;
	padding: 0;
	margin: 10px 0px 0px 0px;
	background-color: gray;
}	
}
</style>


/*  left overs:

@media (min-width: 75px) and (max-width: 767px){

@media (min-width: 992px){

#p1 {
	float: right;
	height: 50px;
	border: 3px solid black;
	width: 90px;
	text-align: center;
	border-width: 3px;
	margin: -3px -3px;
	font-size: 130%;
	background-color: green;
	
}
#p2 {
	float: left;
	overflow: auto;
	clear: right;
}

#box1 {
	float: left;
	border: 3px solid black;
	width: 32%;
	padding: 0;
	margin: 0;
	background-color: gray;
}
#box2 {
	float: left;
	border: 3px solid black;
	width: 32%;
	padding: 0;
	margin: 0;
	background-color: gray;
}
#box3 {
	float: left;
	border: 3px solid black;
	width: 32%;
	padding: 0;
	margin: 0;
	background-color: gray;
}	
}
*/
